/* style.css */

:root {
    /* dimensions */
    --spacing: 10px;
    --border: 1px;
    --radius: 15px;

    /* colors */
    --theme: #888;
    --magenta: #f0f;
    --red: #f00;
    --green: #0f0;
    --blue: #00f;
    --transparent-red: #f002;
    --transparent-green: #0f02;
    --transparent-blue: #00f2;
    --transparent-magenta: #f0f2;
}
.dark {
    --background: #222;
    --foreground: #aaa;
    --gray: #444;
    --cyan: #0ff;
    --transparent-gray: #4442;
    --transparent-cyan: #0ff2;
}
.light {
    --background: #fff;
    --foreground: #333;
    --gray: #aaa;
    --cyan: #088;
    --transparent-gray: #aaa2;
    --transparent-cyan: #0882;
}
* {
    font-size: 1rem;
    font-family: anonymus-pro;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background);
}

/* ----- text -----*/
h1 {
    color: var(--cyan)
}
h2,
label,
span,
sub,
sup {
    color: var(--foreground);
}
sub,
sup {
    font-size: .7rem
}
a {
    color: var(--magenta);
    text-decoration: none;
}

/* images */
img {
    width: 24px;
    height: 24px;
}

/* ----- header ----- */
header {
    width: 85%;
    margin: 3vh auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing);
    background-color: var(--transparent-cyan);
    border: var(--border) solid var(--cyan);
    border-radius: var(--radius);
}

/* ----- main ----- */
.section {
    width: 85%;
    margin: 3vh auto;
    padding: var(--spacing);
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    background-color: var(--transparent-gray);
    border: var(--border) solid var(--gray);
    border-radius: var(--radius);
}
.box__item {
    padding: var(--spacing);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    background-color: var(--transparent-gray);
    border: var(--border) solid var(--gray);
    border-radius: calc(var(--radius) - var(--spacing));
}
input,
button {
    border: var(--border) solid;
}
input {
    width: 80%;
    padding: calc(var(--spacing) / 2) var(--spacing);
    background-color: var(--background);
    border-color: var(--gray);
    color: var(--foreground);
    border-radius: calc(var(--radius) - var(--spacing));
}
input::placeholder {
    color: var(--gray);
}
button {
    background-color: transparent;
    padding: calc(var(--spacing) / 2);
}
#switch-theme-button {
    color: var(--cyan);
    display: flex;
    background-color: var(--background);
    border-color: var(--theme);
    border-radius: 50%;
}
#calculate-button {
    color: var(--blue);
    background-color: var(--transparent-blue);
    border-radius: calc(var(--radius) - var(--spacing));
}

/* input */
.message {
    display: none;
    font-size: .8rem;
    padding: var(--spacing);
    border-radius: calc(var(--radius) - var(--spacing));
}
.message--done {
    color: var(--green);
    background-color: var(--transparent-green);
    display: block;

}
.message--error {
    color: var(--red);
    background-color: var(--transparent-red);
    display: block;
}

/* output */
.output .box {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}
.output input {
    outline: none;
}

/* footer */
footer {
    text-align: center;
}
.github {
    display: flex;
    gap: var(--spacing);
    border: var(--border) solid var(--magenta);
    background-color: var(--transparent-magenta);
    justify-content: center;
    align-items: center;
    padding: var(--spacing);
    border-radius: calc(var(--radius) - var(--spacing));
}